/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
}

header>div{
    width: 70%;
}

.side-left{
    width: 25%;
    align-self: flex-start;
}

.center{
    width: 50%;
    align-self: center;
}

.side-right{
    align-self: flex-end;
}

header{
    background-color: #add8e6;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header>div{
    background-color: #daa520;
}

.flex-container{
    flex-direction: row;
    justify-content: space-between;
}

header>div{
    padding: 1rem;
    border: solid 1px black;
}

.title-section{
    background-color: #00008b;
    padding: 2rem;
}

.title-section>div{
    background-color: #ee82ee;
    width: 50%;
    height: 20rem;
    margin: 0 auto;
}


.img-section>div{
    height: 20rem;
    border: 1px solid black;
    background-color: #add8e6;
}

.wide{
    width: 65%;
    height: 20rem;
    background-color: rgb(9, 56, 207);
    border: 1px solid black;
}

.narrow{
    width: 35%;
    background-color: pink;
    border: 1px solid black;
}

.white{
    background-color: white;
}

.gray{
    background-color: gray;
}


