/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #3d3c3c;
    width: 100%;
    margin: auto;
}

.header-section{
    background-color: rgb(159, 233, 208);
    height: 20rem;
    width: 80%;
    margin: auto;
}

header{
    background-color: #af79e2;
    height: 4rem;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

.title{
    background-color:#af79e2 ;
    height: 10rem;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

.main-container{
    background-color: #3d3c3c;
}

.img-section{
    background-color: rgb(128, 28, 28);
    height: 20rem;
    width: 80%;
    margin: auto;
    padding: 2rem
}

.flex-container{
    display: flex;
    
}

.img{
    background-color: #af79e2;
    width: 50%;
    margin-right: 2rem;
}

.text{
    background-color: #af79e2;
    width: 50%;
}