/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #add8e6;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header>div{
    background-color: #daa520;
}

header.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header>div{
    padding: 1rem;
    border: solid 1px black;
}

.title-section{
    background-color: #00008b;
    padding: 2rem;
}

.title-section>div{
    background-color: #ee82ee;
    width: 50%;
    height: 20rem;
    margin: 0 auto;
}

.img-section{
    background-color: rgb(124, 20, 20);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-section>div{
    width: 35%;
    height: 20rem;
    border: 1px solid black;
    background-color: #add8e6;
}

.img-flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.white{
    background-color: white;
}

.beije{
    background-color: beije;
}
